<nav class="w-[24rem] fixed h-full">
    <ul class="px-4">
        <h5 class="text-lg font-bold">Guide</h5>
        <li><a href="/guide">Why?</a></li>
        <li><a href="/guide/start">Get Started</a></li>
        <li>guide</li>
        <li>guide</li>
        <h5 class="text-lg font-bold">API</h5>
        <li>API</li>
        <li>API</li>
        <li>API</li>
    </ul>

</nav>

<style>
    li {
        @apply text-gray4 my-2;
    }
</style>